.h-page {
  padding: 20px 0;
  border: 1px solid #e4e6ea;
}

.logo {
  width: 60%;
}

.social {
  position: absolute;
  top: 0;
  right: 10px;

  ul {
    float: right;
    cursor: pointer;

    li {
      float: left;
      padding: 5px 5px;

      a {
        display: block;

        span {
          padding: 10px 12px;
          border: 1px solid $social-color;
          color: $social-color;
          border-radius: 50%;

          &.fa-facebook {
            padding: 10px 14px;
          }
        }
        &:hover {

          span {
            border: 1px solid $social-color-cover;
            color: $social-color-cover;
          }
        }
      }
    }
  }
}

.navbar-default .navbar-nav {
  li {
    a {
      color: $base-font-color;
    }

    &:hover {
      a {
        color: $base-font-color;
      }
    }
  }
}

.navbar-default {
  border-color: transparent;
  background: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0 0;
}