.our-team {
  background: #edeff1;
  text-align: center;
  padding-bottom: 20px;
}

.team {
  padding-bottom: 10px;

  p {
    font-weight: 300;
  }

  h3 {
    margin: 15px 0;
    font-weight: 700;
  }
}
